server:
  port: 8083

spring:
  datasource:
    url: jdbc:h2:mem:paymentdb;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false

logging:
  level:
    com.hka.payment: INFO

springdoc:
  swagger-ui:
    path: /swagger-ui
  api-docs:
    path: /api-docs
